<title>My application deployed automatically</title>
<h1>Basic polinomial addition</h1>

<p>
input and output is a list of integers, polinomial1 and polinomial2 is a string of +/- ax for a>=1,
Algorithm parses polinomials and uses list of input as x, then adds them together if value is within output returns true else false
</p>




<form action="compute" method="post">
<p>Her satıra input'u giriniz</p>
<textarea placeholder="1&#10;2&#10;3&#10;" name="x" rows="10" cols="30"></textarea>
<p>Her satıra output'u giriniz</p>
<textarea placeholder="1&#10;2&#10;" name="y" rows="10" cols="30"></textarea>
<p>Eklenicek fonksiyonları gösterilen formatta giriniz(+/- ax formatında olmalıdır ikiside a >= 1 için)</p>
<input placeholder="+1x" name="s1" type="text"/>
<input placeholder="+1x" name="s2" type="text"/>
<input type="submit">
</form>
<p>Result is {{result}}</p>